<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Google NLP {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/library/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <h1 class="navbar-brand col-md-3 col-lg-2 me-0 px-3">Google NLP</h1>
    <button class="navbar-toggler position-absolute d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" 
    aria-controls="sidebarMenu" aria-expanded="true" aria-label="Toggle navigation" style="top: .25rem; right: 1rem">
        <span class="navbar-toggler-icon"></span>
    </button>
</header>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" style="border-right: #1a1e21; border-width: thin" >
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/dashboard">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-speedometer"
                                 viewBox="0 0 16 16">
                                <path d=""/>
                                <path fill-rule="evenodd"
                                      d=""/>
                            </svg>
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sentiment">Sentiment-Analyse</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/entity">Entitäten-Analyse</a>
                    </li>
                </ul>
            </div>
        </nav>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3
                 border-bottom">
                <h2 class="h2">{% block subTitle %}{% endblock %}</h2>
            </div>
            <p class="lead">{% block lead %}{% endblock %}</p>
            {% block content %}
            {% endblock %}
        </main>
    </div>
</div>

<script src="/library/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
